<label>Message</label>
<ul class="list-group">
	<% @messages.each do |messages| %>
  		<li class="list-group-item active"> <%= messages.content %> </li>
  		<li class="list-group-item active"> <%= messages.email %> </li>
  	<% end %>
</ul>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> New Message </button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
	      <form method="post">
  	      <ul class="list-group">
    			  <% @friends.each do |friends| %>
    				  <input type="radio" name="email" value=<%= friends.user2 %>> <%= friends.email %> <br>
    		  	<% end %>
  		    </ul>
  	      <input type="text" name="content" class="form-control" placeholder="Your message">
          <div class="form-group">
            <div class="col-lg-offset-4">
              <button type="submit" class="btn btn-default"> Sent </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>